<div class="container">
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.submit %>
  <% end %>

  <div class="btn btn-danger">
    <%= link_to "Back", tasks_path %>
  </div>
</div>
